@import "fix";
$azul: #1A4069;
$acero: #4386BF;
$dark: #121212;
$azul-claro: #0290FF;

.color-azul {
    color: $azul;
}
.color-acero {
    color:  #4386BF;
}
.color-dark {
    color: $dark;
}
.color-azul-claro {
    color: $azul-claro;
}

.bg-azul {
    background-color: $azul;
}
.bg-acero {
    background-color: $acero;
}
.bg-dark {
    background-color: $dark;
}
.bg-azul-claro {
    background-color: $azul-claro;
}

body, html {
    height: 100%;
    font-size: 15px!important;
    line-height: 1.2em;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #121212 ;
    background-color: #FAFAFA;
}

//Fuentes
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    &::selection {
    }
    &::-moz-selection {
    }
}
p {
    margin-bottom: 20px;
}
p, button, li, a {
    &::selection {
    }
    &::-moz-selection {
    }
}
a {
    &:hover {
        text-decoration-skip: ink;
    }
}
img {
    max-width: 100%;
}
ul, ol, nav {
    margin: 0;
    padding: 0;
    li {
        list-style: inherit;
    }
}
small {
    font-size: 13px;
}
.font-600 {
    font-weight: 600;
}
.font-800 {
    font-weight: 800;
}

.btn-cta {
    background-color: #0290FF;
    font-weight: 800;
}

//Contenido
header {
    .logo {
        height: 100px;
        background-image: linear-gradient(-180deg, #3989C4 0%, #1B406A 100%);

    }
    .menu {
        margin-top: 20px;
    }
    .item-menu {
        height: 60px;
        border-radius: 12px;
        a {
            text-decoration: none;
            color: #121212;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 1em;
            line-height: 1.1em;
            border-bottom: 4px solid #D6E2FB;
            &:hover, &:focus, &:active {
                text-decoration: none;
            }
            &:hover {
                border-bottom: 4px solid #4880FF;
            }
            @media (max-width: 991px) {
                font-size: .8em;
            }
            @media only screen and (max-device-width: 991px) {
                font-size: .8em;
            }


        }
        &.active {
            a{
                font-weight: 800;
                border-color: #4880FF;
            }
        }
    }
}

#wrapper {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    
}
.firma {
    p {
        opacity: 0.5;
        font-size: 14px;
        color: #121212;
        letter-spacing: 0;
    }
}
.breadcrumb {
    padding: 0;
    font-size: 18px;
    background-color:#FFF;
    li {
        opacity: .5;
        padding: 10px;
        border-bottom: 2px solid #FFF;
        &.active {
            color: #4880FF;
            opacity: 1;
            border-bottom: 2px solid #4880FF;
        }
    }
}

.combobox-container {
    .input-group {
        > .form-control {
            height: 45px;
            border-radius: 0.3rem;
        }
    }
}
ul.typeahead {
    width: 100%;
    padding: 0;
    min-height: 42px;
    max-height: 126px;
    overflow-y: scroll;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    
    li {
        padding: 10px;
        width: 100%;
        &:hover {
            background-color: $acero;
            a {
                color: #FFF;
            }
        }
        a {
            color: $dark;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.dropdown-toggle {
    &:after {
        vertical-align: -0.745em;
        border-top: 0.8em solid;
        border-right: 0.8em solid transparent;
        border-bottom: 0;
        border-left: 0.8em solid transparent;
        color: $azul-claro;
    }
}
.form-group .picker__holder { bottom: 0; }
.dia-semana {
    cursor: pointer;
    padding: 5px;
    &.active, &:hover {
        color: #FFF;
        background-color: $azul-claro;
    }
}
.fa-check-circle {
    color: green;
}